<config>
  <libraryPath>d:\rekordbox\library.xml</libraryPath>
  <replaceInTitle> (Original Mix):,(Extended Mix):(ext),(Ext. Mix):(ext)</replaceInTitle>
  <ignorePlaylists>twiggy,intensity,no rating,spacer</ignorePlaylists>
  <spotifyClientId></spotifyClientId>
  <spotifyClientSecret></spotifyClientSecret>
  <spotifyReplaceInPlaylistName />
  <spotifyReplaceInTitle>(ext):(Extended Mix),(Ext. Mix):(Extended Mix)</spotifyReplaceInTitle>
  <spotifyIgnorePlaylists>old school</spotifyIgnorePlaylists>
  <spotifyExcludeFromPlaylistNames>mytags</spotifyExcludeFromPlaylistNames>
  <spotifyFollowLikedArtistsThreshold>3</spotifyFollowLikedArtistsThreshold>
</config>